In [1]:
# Imports
import numpy as np
import matplotlib
from matplotlib import pyplot as plt
%matplotlib inline     
## use `%matplotlib notebook` for interactive figures
# plt.style.use('ggplot')
import sklearn

import tigramite
from tigramite import data_processing as pp
from tigramite.toymodels import structural_causal_processes as toys

from tigramite import plotting as tp
from tigramite.pcmci import PCMCI
from tigramite.independence_tests import ParCorr, GPDC, CMIknn, CMIsymb

import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("time_series_bg_novmax.csv",sep='\s+')
df.head()

,time,ws_10m,wind850,wind700,wind600,wind500,wind400,wind300,wind925,shear1,...,eqpt600,eqpt500,eqpt400,eqpt300,eqpt250,eqpt200,eqpt150,eqpt100,tot_wtrvpr,mslp
0,2020050900,2.12461,2.76184,6.29823,9.92406,11.10960,9.32069,5.62746,2.97300,6.48312,...,338.210,338.587,343.447,348.549,350.847,353.337,355.779,367.764,56.3889,100886
1,2020050903,2.30054,3.69437,6.71425,9.63504,11.17280,9.54344,6.40449,3.07816,7.07827,...,338.102,339.091,343.854,348.832,351.019,353.546,355.785,368.544,57.9964,101108
2,2020050906,2.35434,3.99612,7.24841,9.65626,11.01450,9.14554,6.34596,3.10332,6.50166,...,338.403,340.223,344.527,349.134,351.472,354.015,356.083,369.842,59.4572,101007
3,2020050909,2.51639,4.19874,7.60511,9.28623,10.25300,8.24029,6.38272,3.18363,7.38914,...,338.283,340.538,345.291,349.557,351.990,354.364,356.430,370.702,59.0491,100753
4,2020050912,2.82915,5.01898,7.69986,8.72002,9.12772,7.68376,7.12979,3.79449,7.89473,...,339.218,342.136,345.989,349.975,352.186,354.012,356.386,373.202,60.9375,100842

In [3]:
df = pd.read_csv("time_series_bg_novmax.csv", sep='\s+',
                 parse_dates=[0])
df.head()

,time,ws_10m,wind850,wind700,wind600,wind500,wind400,wind300,wind925,shear1,...,eqpt600,eqpt500,eqpt400,eqpt300,eqpt250,eqpt200,eqpt150,eqpt100,tot_wtrvpr,mslp
0,2020050900,2.12461,2.76184,6.29823,9.92406,11.10960,9.32069,5.62746,2.97300,6.48312,...,338.210,338.587,343.447,348.549,350.847,353.337,355.779,367.764,56.3889,100886
1,2020050903,2.30054,3.69437,6.71425,9.63504,11.17280,9.54344,6.40449,3.07816,7.07827,...,338.102,339.091,343.854,348.832,351.019,353.546,355.785,368.544,57.9964,101108
2,2020050906,2.35434,3.99612,7.24841,9.65626,11.01450,9.14554,6.34596,3.10332,6.50166,...,338.403,340.223,344.527,349.134,351.472,354.015,356.083,369.842,59.4572,101007
3,2020050909,2.51639,4.19874,7.60511,9.28623,10.25300,8.24029,6.38272,3.18363,7.38914,...,338.283,340.538,345.291,349.557,351.990,354.364,356.430,370.702,59.0491,100753
4,2020050912,2.82915,5.01898,7.69986,8.72002,9.12772,7.68376,7.12979,3.79449,7.89473,...,339.218,342.136,345.989,349.975,352.186,354.012,356.386,373.202,60.9375,100842

In [4]:
storm_np=df.values

In [5]:
#genesis parameters
raw_gpvars=np.empty((55,10))
raw_gpvars[:,0] = storm_np[:,1]
raw_gpvars[:,1] = storm_np[:,41]
raw_gpvars[:,2] = storm_np[:,40]
raw_gpvars[:,3] = storm_np[:,25]
raw_gpvars[:,4] = storm_np[:,10]
raw_gpvars[:,5] = storm_np[:,11]
raw_gpvars[:,6] = storm_np[:,16]
raw_gpvars[:,7] = storm_np[:,22]
raw_gpvars[:,8] = storm_np[:,28]
raw_gpvars[:,9] = storm_np[:,36]

 
# Initialize dataframe object, specify time axis and variable names
#var_names = ["new_confirmed", "new_deceased","total_confirmed","total_deceased"]
var_names = ["w10m", "mslp",'vpr','div200','sh2','vor850','rrate','rh500','te1000','te250']
dataframe = pp.DataFrame(raw_gpvars, 
                         datatime = np.arange(len(raw_gpvars)), 
                         var_names=var_names)

In [6]:
def select_links(tau_min, tau_max, parents, children):
    """
    This function selects the causal links that will be tested by
    PCMCI. The links are selected such that per each variable in
    `children` all `parents` are stablished as causes, and no other
    causal relationships exist.
    
    Assumes `parents` and `children` are disjoint sets, and that all
    variables are included in the union of both sets.
    
    Parameters
    ----------
    tau_min : int
        Minimum time lag to test. Note that zero-lags are undirected.
    tau_max : int
        Maximum time lag. Must be larger or equal to tau_min.
    parents : set of int
        List of variables that will be assigned as a parent link.
        Assumed to be disjoint with children
    children : set of int
        List of variables that will be assigned a link from a parent.
        Assumed to be disjoint with parents
    Returns
    -------
    selected_links: dict
        Dictionary of selected links for Tigramite
        
    """

    parents = set(parents)
    children = set(children)

    selected_links = dict()
    # Set the default as all combinations of the selected variables
    for var in [*children, *parents]:
        if var in children:
            # Children can be caused only by parents and by themselves
            selected_links[var] = [
                (parent, -lag)
                for parent in parents
                for lag in range(tau_min, tau_max + 1)
            ]
        else:
            selected_links[var] = []

    return selected_links

In [7]:
parcorr = ParCorr(significance='analytic')
pcmci = PCMCI(
    dataframe=dataframe, 
    cond_ind_test=parcorr,
    verbosity=1)

In [8]:
tau_min = 1
tau_max = 1
children = [Ninp-N_toexclude]
parents = np.arange(0,Ninp-N_toexclude)

sel_links = select_links(tau_min, tau_max, parents, children)

NameError: name 'Ninp' is not defined

In [ ]:
pcmci = PCMCI(dataframe=dataframe,cond_ind_test=parcorr,verbosity=0);
        tmp = pcmci.run_pc_stable(selected_links = sel_links,
                                  tau_min = 1,tau_max=1,pc_alpha=0.01)

In [ ]:
par_raw = tmp[Ninp-N_toexclude]